<div class="container">
 
<p id="notice"><%= notice %></p>


<div class="container">
  
  <h1>Holiday ideas</h1>
  <br>
  <%= link_to 'Create new idea', new_idea_path, class:"btn btn-primary" %>
</div>

<br>

<div class="container">
    <% @ideas.each do |idea| %>
      <div class="card" style="width: 18rem; display:inline-block;">
        <%= image_tag(idea.picture_url, class:"card-img-top", style:"height:250px; object-fit:contain") if idea.picture.present? %>
        <div class="card-body">
        <h5 class="card-title"><%= idea.name %></h5>
        <p class="card-text"><%= idea.description.truncate(30) %></p>
        <%= link_to 'View', idea, class:"btn btn-primary" %>
        <%= link_to 'Delete', idea, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
        </div>
      </div>
    <% end %>
</div>

<br>


</div>

